/* HEADER*/

html {
    font-size: 62.5%;
    margin: 0;
}


.hidden {
    opacity: 0;
    transform: translateX(-100%);
}


header {
    width: 100%;
    height: 0;
    /*hvis ikke vi har den her, så fylder headeren hele forsiden*/
    display: flex;
    justify-content: space-between;
}

#img_container {
    width: 8.5vh;
    z-index: 1;
    display: inline-flex;
    padding: 1rem;
}

#img_container search {
    width: 7vh;
    height: 9vh;
}

nav {
    padding: 1rem;
    flex-direction: column;
    display: flex;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
    z-index: 1;
}

#menulinje {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;

}

#menuknap {
    cursor: pointer;
    z-index: 1;
}

a {
    text-decoration: none;
}

#produktside nav {

    color: red;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

h1 {
    text-align: center;
    margin: 13px;
    color: white;
    font-size: 3rem;
    z-index: 1;
    padding-right: 57px;
}

@media (min-width:600px) {
    #menuknap {
        display: none
    }

    #menulinje.hidden {
        transform: translateX(0);
        opacity: 1;
    }


}




/*HOVER-FUNKTION VED LINKS CSS*/

/* unvisited link */
a:link {
    color: #707070;
}

/* visited link */
a:visited {
    color: #707070;
}

/* mouse over link */
a:hover {
    color: white;
}



/*FONT CSS - HUSK AT INDSÆTTE FØLGENDE I HTML HEAD: <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">   */
body {
    font-family: 'Quicksand', sans-serif;
}



/*BAGGRUND CSS*/
body {
    background-image: url(images/baggrund.png);
    background-size: cover;
}



/*FOOTER CSS*/

footer {
    background-color: #F9CDD3;
    font-family: 'Quicksand', sans-serif;
    padding: 3vw;
    border: solid #707070 2px;
}

label,
input,
button {
    display: block;
    font-size: 15px;
}

.form-felt,
button {
    margin: 3vw;
}

footer a {
    text-decoration: none;
    display: block;
    margin: 3vw;
    font-size: 20px;
    line-height: 0;
}

footer p {
    color: #707070;
    margin: 3vw;
    margin-top: 50px;
    font-size: 15px;
}

.grid_col {
    display: flex;
    flex-direction: row;
    height: 10vw;}

footer img {
    width: 60%;
    margin: 3vw;
}

/* MEDIA Q'S MED FOOTER*/

@media (min-width: 600px) {

    label,
    input,
    button {
        font-size: 2vw;
    }


    footer a {
        font-size: 3vw;
    }

    footer p {
        font-size: 2vw;
        margin-top: 25px;
    }

    .grid_container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 700px) {
    footer a {
        font-size: 2vw;
    }

    footer img {
        width: 40%;
    }
}

@media (min-width: 900px) {
    footer p {
        font-size: 1.5vw;
    }

    label,
    input,
    button {
        font-size: 1.5vw;
    }


    footer img {
        width: 40%;
    }
}

@media (min-width: 1100px) {
    footer p {
        font-size: 1.2vw;
    }

    label,
    input,
    button {
        font-size: 1.2vw;
    }

    footer a {
        font-size: 1.5vw;
    }

    footer {
        padding: 1vw;
    }

    footer img {
        width: 40%;
    }
}
