body {
    background-image: url(image/baggrund.jpg);
    background-size: contain;
}

/*HEADER*/
.overskrift {
    position: absolute;
    top: 0;
    left: 15vw;
}

.overskrift h1 {
    text-align: center;
    margin: 13px;
    color: black;
    font-size: 3rem;
    z-index: 1;
}

html {
    font-size: 100%;
}

#img_container {
    width: 12vh;
}

header nav {
    color: black;
}

#menulinje {
    font-size: 1rem;

}

/*SECTION WRAPPER*/
h1,
h2,
p {
    font-family: 'Quicksand', sans-serif;
}

.section_wrapper h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1vw;
    color: black;
    padding-right: 0;
}

.row1 h2 {
    margin-top: 15vw;
}

h2 {
    text-align: center;
}

p {
    line-height: 5vw;
}

.section_wrapper {
    margin: 5vw;
    margin-top: 33vw;
    padding: 2vw;
    background: rgba(255, 255, 255, 0.7);
}

.linje {
    background-color: #6EA0A2;
    width: 100%;
    height: 0.7vw;
    text-align: center;
}


.tekst p {
    text-align: center;
    margin-top: 12vw;
    font-size: 0.99rem;
}

@media (min-width: 600px) {

    /*HEADER*/
    .overskrift {
        position: absolute;
        top: 0;
        left: 38vw;
    }

    #img_container {
        width: 12vh;
    }

    #menulinje {
        font-size: 1.5rem;

    }

    /*SECTION WRAPPER*/
    .linje {
        background-color: #6EA0A2;
        width: 100%;
        height: 0.2vw;
        text-align: center;
    }

    h1 {
        font-size: 2.3rem;

    }

    h2 {
        font-size: 1.4rem;
    }

    .row1 h2 {
        margin-top: 5vw;
        text-align: left;
    }

    .row3 h2 {
        text-align: left;
    }

    .row2 h2,
    .row2 p {
        text-align: right;
    }


    p {
        line-height: 2vw;
    }

    .titel {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .section_wrapper {
        margin: 14vw;
        margin-top: 15vw;
        padding: 2vw;
        background: rgba(255, 255, 255, 0.7);
    }
}
