body {
    background-image: url(image/baggrund.jpg);
    background-size: cover;
}

/*HEADER*/
.overskrift {
    /*    position: absolute;*/
    top: 0;
    left: 15vw;
}


html {
    font-size: 100%;
}

.overskrift h1 {
    text-align: center;
    margin: 13px;
    color: black;
    font-size: 1.8rem;
    z-index: 1;
}

header nav {
    color: black;
}


#menulinje {
    font-size: 1rem;

}

/*BILLEDER OG VIDEO*/
img {
    width: 100%;
}


video {
    width: 100%;
}

/* SECTION WRAPPER */

.section_wrapper {
    border: 1px solid black;
    margin: 5vw;
    margin-top: 33vw;
    padding: 2vw;
    background: rgba(255, 255, 255, 0.8);
}

h2 {
    text-align: center;
    margin-bottom: 1vw;
}

.linje {
    width: 100%;
    height: 1vw;
    background-color: #ffeced;
    text-align: center;
}

h2,
p {
    font-family: 'Quicksand', sans-serif;
}

.section_wrapper_web {
    display: none;
}


@media (min-width: 600px) {

    /*    HEADER*/
    /*
    .overskrift {
        position: absolute;
        top: 0;
        left: 38vw;
    }
*/


    /*SECTION WRAPPER*/
    .section_wrapper {
        display: none;
    }

    #section_1 {
        margin-top: 150px;
    }

    .section_wrapper_web {
        padding: 2vw;
        background: rgba(255, 255, 255, 0.2);
    }

    .section_wrapper_web {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        margin: 3vw;
        margin-top: 14vw;
    }

    .linje {
        width: 100%;
        height: 0.5vw;
        background-color: #ffeced;
        text-align: center;
    }

    .linje_2 {
        background-color: #6EA0A2;
        width: 100%;
        height: 0.5vw;
        text-align: center;
    }

    h2 {
        text-align: left;
        margin-bottom: 1vw;
        font-size: 2.2rem;
        margin-top: 1.5vw;
    }
}
