body {
    background-image: url(image/baggrund.jpg);
    /*    background-repeat: repeat;*/
    background-size: contain;
    /*    width: 100%;*/
}

.section_wrapper {
    border: 1px solid black;
    margin: 5vw;
    margin-top: 0.5vw;
    padding: 2vw;
    /*    opacity: 80%;*/
    background: rgba(255, 255, 255, 0.8);
}

img {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 1vw;
}

.linje {
    width: 100%;
    height: 1vw;
    background-color: #ffeced;
    text-align: center;
}

/*
#section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
*/

video {
    width: 100%;
}

h2,
p {
    font-family: helvetica, light, sans-serif;
}

.section_wrapper_web {
    display: none;
}


@media (min-width: 600px) {


    .section_wrapper {
        display: none;
    }

    .section_wrapper_web {
        border: 1px solid black;
        margin: 5vw;
        margin-top: 0.5vw;
        padding: 2vw;
        background: rgba(255, 255, 255, 0.8);
    }

    .section_wrapper_web {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        margin: 3vw;
        line-height: 2vw;
    }

    .linje {
        width: 100%;
        height: 0.5vw;
        background-color: #ffeced;
        text-align: center;
    }

    .linje_2 {
        background-color: #6EA0A2;
        width: 100%;
        height: 0.5vw;
        text-align: center;
    }

    h2 {
        text-align: left;
        margin-bottom: 1vw;
        font-size: 2.2rem;
        margin-top: 1.5vw;
    }

}
