body {
    background-image: url(image/baggrund.jpg);
    background-repeat: repeat;
    background-size: 500px 300px;

}

.section_wrapper {
    width: 391px;

    border: 1px solid black;
    padding: 10px;
    opacity: 80%;
    background-color: white;

}

a {
    font-family: helvetica, sans-serif;
}

img {
    width: 180px;
}
