body {
    background-image: url(image/baggrund.jpg);
    background-size: contain;
}


/*HEADER*/
.overskrift {
    position: absolute;
    top: 0;
    left: 15vw;
}

html {
    font-size: 100%;
}

#img_container {
    width: 12vh;
}

h1 {
    color: black;
}

header nav {
    color: black;
}

#menulinje {
    font-size: 1rem;

}

/*NAV*/
main nav {
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    font-size: 0.7rem;
    color: black;
    margin-left: 6vw;
    margin-top: 34vw;
    padding-bottom: 0;
}

main a {
    text-decoration: none;
}

main a:link {
    color: black;
}

main a:visited {
    color: black;
}

/*SECTION WRAPPER*/
.section_wrapper {
    border: 1px solid black;
    margin: 5vw;
    margin-top: 0.1vw;
    padding: 2vw;
    background: rgba(255, 255, 255, 0.8);
}


.section_wrapper img {
    width: 37vw;
}

figure {
    margin: 1vw;
    text-align: center;
}

figcaption {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.5rem;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image6_1 {
    display: none;
}

.image6_2 {
    display: none;
}


.image6_3 {
    display: none;
}

.knap {
    text-align: center;
    margin-top: 4vw;
}


@media (min-width: 600px) {

    /*HEADER*/
    .overskrift {
        position: absolute;
        top: 0;
        left: 38vw;
    }

    #img_container {
        width: 12vh;
    }

    #menulinje {
        font-size: 1.5rem;

    }

    /*    NAV*/
    main nav {
        font-family: 'Quicksand', sans-serif;
        display: grid;
        grid-template-columns: 1.3fr 1fr 1fr 1fr;
        font-size: 1rem;
        color: black;
        margin-left: 6vw;
        margin-top: 12vw;
    }

    /*    SECTION WRAPPER*/
    .section_wrapper {
        display: grid;
        justify-content: center;
    }

    .produkt_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;

    }

    .section_wrapper img {
        width: 14.9vw;
    }


    .image6_1 {
        display: contents;
    }

    .image6_2 {
        display: contents;
    }


    .image6_3 {
        display: contents;
    }
}
