body {
    background-image: url(images/baggrund.png);
    background-size: contain;
}

.section_wrapper {
    background-color: #5EA2A2;
    margin: 10vw;
    padding: 2vw;
    text-align: center;
    border: solid 2px grey;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin: 5vw;
    color: white;
    font-size: 3vw;
}

h2 {
    color: white;
    font-size: 5vw;
}

h3 {
    color: white;
    font-size: 3.5vw;
}

img {
    width: 60%;
}

/*FOOTER CSS*/

footer {
    background-color: #F9CDD3;
    font-family: 'Quicksand', sans-serif;
    padding: 3vw;
    border: solid #707070 2px;
}

label,
input,
button {
    display: block;
    font-size: 15px;
}

.form-felt,
button {
    margin: 3vw;
}

footer a {
    text-decoration: none;
    display: block;
    margin: 3vw;
    font-size: 20px;
}

footer p {
    color: #707070;
    margin: 3vw;
    margin-top: 50px;
    font-size: 15px;
}

/* unvisited link */
a:link {
    color: #707070;
}

/* visited link */
a:visited {
    color: #707070;
}

/* mouse over link */
a:hover {
    color: white;
}


.grid_col {
    display: flex;
    flex-direction: row;
}

footer img {
    width: 60%;
    margin: 3vw;
}

/*MEDIAS*/

@media (min-width: 600px) {

    .section_wrapper {
        margin: 20vw;
        padding: 4vw;
    }

    p {
        margin: 6vw;
        font-size: 2vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 2vw;
    }

    img {
        width: 50%;
    }


    label,
    input,
    button {
        font-size: 2vw;
    }


    footer a {
        font-size: 3vw;
    }

    footer p {
        font-size: 2vw;
        margin-top: 25px;
    }

    .grid_container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 700px) {
    footer a {
        font-size: 2vw;
    }

    footer img {
        width: 40%;
    }
}

@media (min-width: 900px) {

    .section_wrapper {
        margin: 20vw;
        padding: 1vw;
    }

    h2 {
        font-size: 3vw;
    }

    p {
        margin: 5vw;
        font-size: 1.5vw;
    }

    img {
        width: 60%;
    }


    footer p {
        font-size: 1.5vw;
    }

    label,
    input,
    button {
        font-size: 1.5vw;
    }


    footer img {
        width: 40%;
    }
}

@media (min-width: 1000px) {


    p {
        margin: 4vw;
        font-size: 1.5vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    h3 {
        font-size: 2vw;
    }

    img {
        width: 70%;
    }
}

@media (min-width: 1100px) {

    .section_wrapper {
        margin: 25vw;
    }

    p {
        font-size: 1.2vw;
    }

    h2 {
        font-size: 2.5vw;
    }

    footer p {
        font-size: 1.2vw;
    }

    label,
    input,
    button {
        font-size: 1.2vw;
    }

    footer a {
        font-size: 1.5vw;
    }

    footer {
        padding: 1vw;
    }

    footer img {
        width: 40%;
    }
}
