body {
    background-image: url(images/baggrund.png);
    background-size: contain;
}

.section_wrapper {
    background-color: #5EA2A2;
    margin: 10vw;
    padding: 2vw;
    text-align: center;
    border: solid 2px grey;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin: 5vw;
    color: white;
    font-size: 3vw;
}

h2 {
    color: white;
    font-size: 5vw;
}

h3 {
    color: white;
    font-size: 3.5vw;
}

img {
    width: 60%;
}



@media (min-width: 600px) {

    .section_wrapper {
        margin: 15vw;
        padding: 4vw;
    }

    p {
        margin: 7vw;
        font-size: 2vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 2vw;
    }

    img {
        width: 50%;
    }
}


@media (min-width: 900px) {

    .section_wrapper {
        margin: 20vw;
        padding: 6vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    p {
        margin: 5vw;
        font-size: 2vw;
    }

    img {
        width: 60%;
    }
}

@media (min-width: 1000px) {

    .section_wrapper {
        margin: 25vw;
        padding: 2vw;

    }

    p {
        margin: 4vw;
        font-size: 1.5vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    h3 {
        font-size: 2vw;
    }

    img {
        width: 70%;
    }
}
